<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <LINK REL="SHORTCUT ICON" HREF="images/Icono.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
        <title>BOSOFT</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

	<body class="details">
		<div class="wrap">
			<div class="header">
    			<div class="logo">
                	<a href="index.html">
                    	<img src="images/logo.png" alt="" title="" border="0" />
                    </a>
                </div>
        
        		<div id="menu">
                    <ul>                                                                       
                        <li>
                        	<a href="index.html">Inicio</a>
                        </li>
                        <li class="selected">
                        	<a href="conocenos.html">Conocenos</a>
                        </li>
                        <li>
                        	<a href="servicios.html">Servicios</a>
                        </li>
                        <li>
                        	<a href="contactoPHP.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div> <!--End of header-->
            <div class="main_content">
                <p>&nbsp;</p>
                <p class="blue" style="font-size: 24px; color: #4CB4E6;">Conocenos</p>
                <p>Somos una empresa mendocina con una gran experiencia en desarrollo de software. Nos identificamos en el mercado por ser una de las pocas desarrolladoras que implementan sistemas de gesti&oacute;n a medida de las necesidades de cada empresa.</p>
                <p>Sabemos que a medida que el tiempo pasa, una empresa evoluciona al mismo tiempo que sus necesidades. Es por esto que los sistemas r&iacute;gidos hacen que las empresas pierdan informaci&oacute;n importante para la toma de decisiones&nbsp;que, luego, se traducen en una p&eacute;rdida econ&oacute;mica.</p>
                <p>Es por &eacute;sto que nuestros sistemas acompa&ntilde;an a las empresas en su crecimiento, adapt&aacute;ndose a sus requerimientos, a las exigencias de su entorno y brind&aacute;ndo siempre la informaci&oacute;n &uacute;til para que el crecimiento sea sostenido.</p>
                <p>Nuetros a&ntilde;os de experiencia y la confianza de nuestros clientes de siempre nos avalan.<!--End of center_content--><!--End of right_content-->              </p>
              <div class="clear"></div>
            </div><!--End of main_content-->
        </div><!--End of wrap-->

    	<div class="footer">
        	<div class="footer_content">
            	<div class="footer_tab1">
                	<h2>En contacto</h2>
                	<span class="email">Email: <a href="mailto:info@bosoft.com.ar">soporte@bosoft.com.ar</a></span>
                
                	<div class="footer_info">
                    	<span class="orange">Tel&eacute;fonos:</span>
                    	<p class="info">261-4161434</p> 
                	</div> 
                	<div class="footer_copyrights">
                		<img src="images/footer_logo.gif" alt="" title="" /><br />
                		&copy; 1986 Todos los derechos Reservados
                	</div>  
            	</div> <!--End of footer_tab1-->
            
                <div class="footer_tab2">
                   
             	</div> <!--End of footer_tab2--> 
                <div class="clear"></div>
        	</div> <!--End of footer_content-->
    	</div><!--End of footer-->
	</body>
</html>