{% extends 'base.html' %}

{% block content %}
    <body class="details">
        <div class="wrap">
            <div class="main_content">
                <p>&nbsp;</p>
                <p class="blue" style="font-size: 24px; color: #4CB4E6;">Conocenos</p>
                <p>Somos una empresa mendocina con una gran experiencia en desarrollo de software. Nos identificamos en el
                    mercado por ser una de las pocas desarrolladoras que implementan sistemas de gesti&oacute;n a medida de las
                    necesidades de cada empresa.</p>
                <p>Sabemos que a medida que el tiempo pasa, una empresa evoluciona al mismo tiempo que sus necesidades. Es por
                    esto que los sistemas r&iacute;gidos hacen que las empresas pierdan informaci&oacute;n importante para la
                    toma de decisiones&nbsp;que, luego, se traducen en una p&eacute;rdida econ&oacute;mica.</p>
                <p>Es por &eacute;sto que nuestros sistemas acompa&ntilde;an a las empresas en su crecimiento,
                    adapt&aacute;ndose a sus requerimientos, a las exigencias de su entorno y brind&aacute;ndo siempre la
                    informaci&oacute;n &uacute;til para que el crecimiento sea sostenido.</p>
                <p>Nuetros a&ntilde;os de experiencia y la confianza de nuestros clientes de siempre nos
                    avalan.<!--End of center_content--><!--End of right_content--> </p>
                <div class="clear"></div>
            </div><!--End of main_content-->
        </div><!--End of wrap-->
    </body>
{% endblock %}s