{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body class="details">

        <p>&nbsp;</p>

        <div class="main_content">

            <div align="center">
                <h1 align="center"><img src="{% static 'images/Symbol-Construction.png' %}" alt="" width="200" height="200"
                        aling="center" /></h1>
                <h1 align="center">Lo sentimos</h1>
                <p align="center">
                    <h3 style="color: rgb(146, 50, 50);">El sitio est&aacute; siendo actualizado...</h3>
                </p>
            </div> <!--End of center_content-->

            <div class="clear"></div>

        </div>

    </body>

{% endblock %}