{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <LINK rel="SHORTCUT ICON" href="{% static 'images/Icono.ico' %}" />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>BOSOFT</title>

		<link rel="stylesheet" href="{% static 'style.css' %}" />

		<style type="text/css">
/* 			.wrap .home_center_content .home_center_content #tab .center_text .big_title {
			}
 */			.wrap .home_center_content .home_center_content #tab .center_text p {
				font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
			}
        </style>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>	
        <script type="text/javascript">
        
        function hideall() {
            $("#tab").hide();
            $("#tab1").hide();
            $("#tab2").hide();
            $("#tab3").hide();
            $("#tab4").hide();			
        }
        $(document).ready(function(){
        
        $("#icon1").mouseover(function () {
        hideall();
        $("#tab1").css("display","block");     
        });
        
        $("#icon2").mouseover(function () {
        hideall();
        $("#tab2").css("display","block");     
        });
        
        $("#icon3").mouseover(function () {
        hideall();
        $("#tab3").css("display","block");     
        });  
        
        hideall();
        $("#tab").show();       
        
          });
        </script>
    </head>
    
    <body>
        <div class="wrap">
            <div class="header">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="" title="" border="0" /></a></div>                
                <div id="menu">
                    <ul>                                                                       
                        <li class="selected">
                        	<a href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li>
                        	<a href="{% url 'conocenos' %}">Conocenos</a>
                        </li>
                        <li>
                        	<a href="{% url 'servicios' %}">Servicios</a>
                        </li>
                        <li>
                        	<a href="{% url 'contactoPHP' %}">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div> <!--End of header-->
            
            <div class="home_center_content">
            	<div class="box1" id="tab">
            		<div class="center_text">
            			<div class="big_title">Sistemas de Gesti&oacute;n a la medida de su empresa</div>
            			<div class="under_title">Con la &uacute;ltima tecnolog&iacute;a en herramientas de desarrollo para facilitar las tareas y el control de todos los aspectos de su empresa.</div>
                            
                  	</div> <!--End of center_text-->
                 	<div class="right_img"><img src="{% static 'images/manos_index.jpg' %}" alt="image" title=""/></div>
              	</div> <!--End of tab-->
                            
              	<div class="box1" id="tab1">
                  	<div class="center_text">
                     	<div class="big_title">Haga <span>crecer</span> su Empresa</div>
                       	<div class="under_title">Con una capacitaci&oacute;n permanente a los usuarios y la constante actualizaci&oacute;n de sus sistemas, el rendimiento ser&aacute; el &oacute;ptimo. </div>
                   	</div>
                   	<div class="right_img"><img src="{% static 'images/crece_index.jpg' %}" alt="image" title="" /></div>
              	</div> <!--End of tab1-->
                            
               	<div class="box1" id="tab2">
                	<div class="center_text">
                    	<div class="big_title">La <span>mejor</span> decisi&oacute;n</div>
                       	<div class="under_title">Brindamos nuestro asesoramiento profesional en todas sus dudas de &iacute;ndole inform&aacute;tica para lograr una excelente inversi&oacute;n y mejorar el rendimiento de su empresa.</div>
                 	</div>
                  	<div class="right_img"><img src="{% static 'images/sobre_mundo.jpg' %}" alt="image" title="" /></div>
               	</div> <!--End of tab2-->
                            
               	<div class="box1" id="tab3">
                  	<div class="center_text">
                        <div class="big_title">Grupo <span>organizado</span> de trabajo</div>
                        <div class="under_title">Un completo servicio en Tecnolog&iacute;a Inform&aacute;tica, cubriendo desde el desarrollo de sistemas hasta el servicio t&eacute;cnico especializado para sus equipos.</div>
               		</div>
                  	<div class="right_img"><img src="{% static 'images/operador.jpg' %}" alt="image" title="" /></div>
               	</div> <!--End of tab3-->
                            
               	<ul class="center_button_icons tabset">
                	<li id="icon1">
                    	<a href="#tab1" class="tab">
                        	<img src="{% static 'images/icon_news.png' %}" border="0" alt="image" title="" /> 
                      	</a>
                   	</li>
                    
                    <li id="icon2">                     
                        <a href="#tab2" class="tab">
                            <img src="{% static 'images/icon_work.png' %}" border="0"  alt="image" title=""/> 
                        </a>
                   	</li>
                    
                    <li id="icon3">                     
                    	<a href="#tab3" class="tab">
                        	<img src="{% static 'images/icon_team.png' %}"icon_team.png border="0"  alt="image" title=""/> 
                        </a>
                   	</li>
                    
                    <li>
                    	<a href="#tab" class="tab active"></a>
                  	</li>
               	</ul>
            </div> <!--End of home_center_content-->
            
            <div class="main_content">
            	<div class="left_content">
                	<h1 align="center"><img src="{% static 'images/cluod.png' %}"  alt="" width="125" height="80"/></h1>
                   	<h1 align="center">Backup de informaci&oacute;n</h1>
                    <p align="center">
                    	No volver&aacute; a preocuparse por el respaldo de la informaci&oacute;n de su empresa. D&eacute;jelo en nuestras manos.
                   	</p>
              	</div> <!--End of left_content-->
                    
              	<div class="center_content">
                	<h1 align="center"><img src="{% static 'images/compu.png' %}" width="125" height="76"  alt=""/></h1>
                	<h1 align="center">Seguridad</h1>
                    <p align="center">
                   		Nuestro equipo de trabajo le brinda la mayor confidencialidad de sus datos.
                   	</p>
              	</div> <!--End of center_content-->
                    
               	<div class="right_content">
                	<h1 align="center"><img src="{% static 'images/smartphone.png' %}" width="41" height="74"  alt=""/></h1>
                  	<h1 align="center">Accesibilidad</h1>
                   	<p align="center">
                  		Consulte el estado de su empresa desde cualquier parte del mundo y con cualquier dispositivo a trav&eacute;s de Internet.
                   	</p>
              	</div> <!--End of right_content-->   
                    
              	<div class="clear"></div>
            </div><!--End of main_content-->
        </div><!--End of wrap-->
    
    	<div class="footer">
        	<div class="footer_content">
            	<div class="footer_tab1">
                	<h2>En contacto</h2>
                	<span class="email">Email: <a href="mailto:info@bosoft.com.ar">soporte@bosoft.com.ar</a></span>
                
                	<div class="footer_info">
                    	<span class="orange">Tel&eacute;fonos:</span>
                    	<p class="info">
                    		261-4161434
                        </p> 
      
                	</div> 
                	<div class="footer_copyrights">
                		<img src="{% static 'images/footer_logo.gif' %}" alt="" title="" /><br />
                		&copy; 1986 Todos los derechos Reservados
                	</div>  
            	</div> <!--End of footer_tab1-->
            
                <div class="footer_tab2">
                
             	</div> <!--End of footer_tab2--> 
                <div class="clear"></div>
        	</div> <!--End of footer_content-->
    	</div><!--End of footer-->
	</body>
</html>