{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="details">

    <div class="wrap"></div>
        <div class="main_content">
            <p>&nbsp;</p>
            <p class="blue" style="font-size: 24px; color: #4CB4E6;">Servicios</p>
            <p>Ofrecemos una amplia gama de prestaciones que har&aacute;n que nos ocupemos del mantenimiento de sus equipos y de
                sus sistemas, mientras que usted podr&aacute; ocupar m&aacute;s tiempo en la toma de decisiones de su empresa.
            </p>
            <p>&nbsp;</p>
            <div class="left_content">
                <h1 align="center">Desarrollo de Software</h1>
                <p align="center">&nbsp;</p>
                <h1 align="center"><img src="{% static 'images/mouse.png' %}" alt="" width="279" height="204" /></h1>
                <p align="center">Soporte t&eacute;cnico, capacitaci&oacute;n permanente, actualizaci&oacute;n de sistemas,
                    modificaci&oacute;n de aplicativos, entre muchos otros servicios.</p>
            </div> <!--End of left_content-->
            
            <div class="center_content">
                <h1 align="center">Servicio t&eacute;cnico especializado</h1>
                <h1 align="center"><img src="{% static 'images/ficha.jpg' %}" width="285" height="200" alt="" /></h1>
                <p align="center">Revisi&oacute;n de Hardware y Software, actualizaci&oacute;n de los programas de
                    prevenci&oacute;n, consultor&iacute;a Inform&aacute;tica, configuraci&oacute;n de Internet,
                    administraci&oacute;n remota. seguridad de redes, limpieza de equipos, implementaci&oacute;n de
                    pol&iacute;ticas de backup local, alquiler de equipos en caso de contingencias, asesoramiento para la
                    adquisici&oacute;n de Hardware y Software con descuentos especiales.</p>
            </div> <!--End of center_content-->
            
            <div class="right_content">
                <h1 align="center">Resguardo de informaci&oacute;n</h1>
                <h1 align="center"><img src="{% static 'images/disco.jpg' %}" width="285" height="200" alt="" /></h1>
                <p align="center">Resplado de las bases de datos y aplicativos de sus sistemas en forma peri&oacute;dica y
                    confidencial.</p>
            </div> <!--End of right_content-->
            
            <div class="clear"></div>
            
        </div><!--End of main_content-->
    </div><!--End of wrap-->

</body>
{% endblock %}